<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>header</title>
</head>
<body>
<p th:fragment="meta">
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{lib/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{lib/respond.min.js}"></script>

    <![endif]-->
    <link th:href="@{h-ui/css/H-ui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/h-ui.admin/css/H-ui.admin.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{lib/Hui-iconfont/1.0.8/iconfont.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{h-ui.admin/skin/green/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{h-ui.admin/css/style.css}"/>

    <!--[if IE 6]>
    <script type="text/javascript" th:src="@{lib/DD_belatedPNG_0.0.8a-min.js}"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
</p>
</body>
</html>