<!DOCTYPE HTML>
<html lang="cn" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <link type="image/x-icon" th:src="@{favicon.ico}" rel="shortcut icon"/>
    <title>CRM后台管理页面</title>
    <p th:replace="crm/comm/_meta :: meta"/>
</head>
<body>
<header th:replace="crm/comm/_header :: header"/>
<aside th:replace="crm/comm/_menu :: menu"/>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>

<section layout:fragment="content"></section>
<footer th:replace="crm/comm/_footer :: footer"/>
</body>
</html>