<!DOCTYPE HTML>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>新增用户</title>
    <p th:replace="crm/comm/_meta :: meta"/>
    <style>
        hide {
            display: none;
        }
    </style>
</head>
<body>
<article class="page-container">
    <form th:action="@{/user/add}" method="post" class="form form-horizontal" id="form-user-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">手机号码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="手机号码" name="username"/>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
            </div>
        </div>
    </form>
</article>

<footer th:replace="crm/comm/_footer :: footer"/>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function () {
        $("#form-user-add").validate({
            rules: {
                username: {
                    required: true,
                    isMobile: true
                }
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    type: 'post',
                    success: function (data) {
                        if (data.code == 0) {
                            alert('操作成功！');
                            layer_close();
                        } else {
                            alert('操作失敗：' + data.message);
                        }
                    }
                });
            }
        });
    });
</script>
</body>
</html>