<!DOCTYPE HTML>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>分组管理</title>
    <p th:replace="crm/comm/_meta :: meta"/>
</head>
<body>
<div class="page-container">
    <div class="portlet bg-white">
        <div class="portlet-title">
            <div class="caption">组内信息</div>
        </div>
        <div class="portlet-body" th:object="${group}">
            <div class="form-horizontal">
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">组名：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{name}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">组大小：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{groupSize}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">成员数：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{currentSize}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">创建时间：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{createTime}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">满员时间：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{endTime}"/>
                </div>

            </div>
        </div>
    </div>
    <table class="portlet-table table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th colspan="5" scope="col">组内会员</th>
        </tr>
        <tr class="text-c">
            <th>姓名</th>
            <th>邀请人</th>
            <th>位置</th>
            <th>电话</th>
            <th>积分</th>
            <th>住址</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="child:${memberList}">
            <td th:text="*{child.name}">姓名</td>
            <td th:text="*{child.parentName}">邀请人</td>
            <td th:text="*{child.position}">位置</td>
            <td th:text="*{child.phone}">电话</td>
            <td th:text="*{child.totalPoint}">积分</td>
            <td th:text="*{child.address}">住址</td>
            <td th:text="*{child.remark}">备注</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>