<!DOCTYPE HTML>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>会员管理</title>
    <p th:replace="crm/comm/_meta :: meta"/>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 分组列表 <a
        class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
        href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        <input type="text" class="input-text" style="width:250px" placeholder="输入会员名称" id="searchContent"/>
        <button type="button" class="btn btn-success radius" id="searchBtn"><i class="Hui-iconfont">&#xe665;</i> 搜分组
        </button>
        <input type="hidden" id="tokenName" th:value="${_csrf.parameterName}"/>
        <input type="hidden" id="tokenValue" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="100">分组</th>
                <th width="20">当前人数</th>
                <th width="200">成员</th>
                <th width="150">创建时间</th>
            </tr>
            </thead>
            <tbody id="member-list-body">
            <tr class="text-c">
                <td>223242342</td>
                <td>2</td>
                <td>张三，李四</td>
                <td>2014-6-11</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="crm/comm/_footer :: footer"/>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $(function () {
        var dataTable = $('.table-sort').dataTable({
            language:lang,
            "processing": true,
            "serverSide": true,
            "searching": false,
            "ajax": function (data, callback) {  //ajax方式向后台发送请求
                var param = {};
                param.pageSize = data.length;//页面显示记录条数，在页面显示每页显示多少项的时候
                param.pageNum = (data.start / data.length) + 1;//当前页码
                param._csrf = $('#tokenValue').val();
                param.search = $('#searchContent').val();
                param.dateMin = $('#dateMin').val();
                param.dateMax = $('#dateMax').val();
                $.ajax({
                    "type": "POST",
                    "url": "/member/listGroup",
                    "data": param,
                    "dataType": "json",
                    success: function (res) {
                        var returnData = {};
                        returnData.draw = res.draw;//
                        returnData.iTotalRecords = res.totalElements;//返回数据全部记录
                        returnData.iTotalDisplayRecords = res.totalElements;//后台不实现过滤功能，每次查询均视作全部结果
                        returnData.aaData = res.content;//返回的数据列表
                        callback(returnData)
                    }
                })

            },
            "columns": [//对接收到的json格式数据进行处理，data为json中对应的key
                {"data": null},
                {"data": "currentSize"},
                {"data": 'member'},
                {"data": "createTime"}
            ],
            "columnDefs": [{
                targets: 0,
                render: function (data, type, row) {
                    return '<a href="javascript:layer_full(\'组详情\',\'/member/detailGroup/' + row.groupId+'\');">'+row.name+'</a>';
                }
            }]
        });
        //dataTable.api();
        $('#searchBtn').on('click', function () {
            dataTable.fnDraw(true);
        });
    });
</script>
</body>
</html>