<!DOCTYPE HTML>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>会员详情</title>
    <p th:replace="crm/comm/_meta :: meta"/>
    <style>
    </style>
</head>
<body>
<div class="page-container">
    <div class="portlet bg-white">
        <div class="portlet-title">
            <div class="caption">我的信息</div>
        </div>
        <div class="portlet-body" th:object="${member}">
            <div class="form-horizontal form-horizontal-condensed">
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">邀请人：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{parentName}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">姓名：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{name}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">昵称：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{nickName}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">手机号：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{phone}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">身份证：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{idCard}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">性别：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{sex == 'G'?'女':sex=='B'?'男':'保密'}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">银行卡：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{bankName +'/'+ bankAccount}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">总共积分：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{totalPoint}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">可用积分：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{usablePoint}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">固定积分：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{unUsablePoint}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">地址：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{address}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">入会时间：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{createTime}"/>
                </div>
                <div class="col-md-4 form-group" >
                    <div class="control-label col-xs-4 col-sm-3">备注：</div>
                    <div class="col-xs-8 col-sm-9 form-control-static" th:text="*{remark}"/>
                </div>
            </div>
        </div>
    </div>
    <table class="portlet-table table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th colspan="5" scope="col">积分记录</th>
        </tr>
        <tr class="text-c">
            <th>操作</th>
            <th>数量</th>
            <th>余额</th>
            <th>操作时间</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log:${pointLogs}">
            <td th:text="*{log.operateType == 'ADD'?'增入':'减出'}">操作</td>
            <td th:text="*{log.operatePoint}">数量</td>
            <td th:text="*{log.totalPoint}">余额</td>
            <td th:text="*{log.createTime}">操作时间</td>
            <td th:text="*{log.remark}">备注</td>
        </tr>
        </tbody>
    </table>
    <table class="portlet-table table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th colspan="5" scope="col">我的下线</th>
        </tr>
        <tr class="text-c">
            <th>姓名</th>
            <th>电话</th>
            <th>积分</th>
            <th>住址</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="child:${childrenList}">
            <td th:text="*{child.name}">姓名</td>
            <td th:text="*{child.phone}">电话</td>
            <td th:text="*{child.totalPoint}">积分</td>
            <td th:text="*{child.address}">住址</td>
            <td th:text="*{child.remark}">备注</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>