<!DOCTYPE HTML>
<html lang="cn" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <title>邀请会员</title>
    <p th:replace="crm/comm/_meta :: meta"/>
    <style>
        hide {
            display: none;
        }
    </style>
</head>
<body>
<article class="page-container">
    <form th:action="@{*{memberId} == null ? '/member/add' : '/member/edit'}" th:object="${member}"  method="post" class="form form-horizontal" id="form-member-add">
        <div th:class="${open}? 'hide' : 'row cl'">
            <label class="form-label col-xs-4 col-sm-3">邀请人：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="*{parentId}" placeholder="邀请人ID" name="parentId"/>
                <input type="hidden" th:value="*{memberId}" name="memberId"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">昵称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="*{nickName}" placeholder="会员的昵称" name="nickName"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="*{name}" placeholder="会员姓名" name="name"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">身份证：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="*{idCard}" placeholder="身份证" name="idCard"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">性别：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="sex" type="radio" th:value="B" th:checked="*{sex == 'B'?'checked':'false'}"/>
                    <label>男</label>
                </div>
                <div class="radio-box">
                    <input type="radio" value="G" name="sex" th:checked="*{sex == 'G'?'checked':'false'}"/>
                    <label>女</label>
                </div>
                <div class="radio-box">
                    <input type="radio" value="N" name="sex" th:checked="*{sex == 'N'?'checked':'false'}"/>
                    <label>保密</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="*{phone}" placeholder="请务必填写自己的手机号" name="phone"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>开户行：</label>
            <div class="formControls col-xs-8 col-sm-9" >
                <span class="select-box">
                <select class="select" size="1" name="bankName">
                    <option th:each="bank:${banks}" th:value="${bank.code}" th:text="${bank.name}"
                            th:selected="${bank.code == code?'selected':'false'}">
                        </option>
                </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>银行卡号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="*{bankAccount}" placeholder="" name="bankAccount"/>
            </div>
        </div>
        <!--<div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">邮箱：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="@" name="email" id="email"/>
            </div>
        </div>-->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">住址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="*{address}" placeholder="" name="address"/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="remark" cols="" rows="" class="textarea" th:text="*{remark}" placeholder="说点什么..."></textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"/>
            </div>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</article>

<footer th:replace="crm/comm/_footer :: footer"/>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form-member-add").validate({
            rules: {
                name: {
                    required: true,
                    minlength: 2,
                    maxlength: 16
                },
                phone: {
                    required: true,
                    isMobile: true,
                },
                bankAccount: {
                    required: true,
                }

            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    type: 'post',
                    success: function (data) {
                        if (data.code == 0) {
                            alert('操作成功！');
                            layer_close();
                        } else {
                            alert('操作失敗!');
                        }
                    }
                });
            }
        });
    });
</script>
</body>
</html>