<!DOCTYPE HTML>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>会员管理</title>
    <p th:replace="crm/comm/_meta :: meta"/>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员管理 <a
        class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
        href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c"> 加入日期：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'dateMin\')||\'%y-%M-%d\'}' })" id="dateMin"
               class="input-text Wdate" style="width:120px;"/>
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'dateMax\')}',maxDate:'%y-%M-%d' })" id="dateMax"
               class="input-text Wdate" style="width:120px;"/>
        <input type="text" class="input-text" style="width:250px" placeholder="输入会员账号、名称、电话、邮箱" id="searchContent"/>
        <button type="button" class="btn btn-success radius" id="searchBtn"><i class="Hui-iconfont">&#xe665;</i> 搜会员
        </button>
        <input type="hidden" id="tokenName" th:value="${_csrf.parameterName}"/>
        <input type="hidden" id="tokenValue" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l"><a
            href="javascript:;" onclick="layer_show('添加会员','/member/add','','510')"
            class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加会员</a></span></div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="80">邀请人</th>
                <th width="100">姓名</th>
                <th width="40">性别</th>
                <th width="90">手机</th>
                <th width="150">邮箱</th>
                <th width="100">地址</th>
                <th width="130">加入时间</th>
                <th width="20">操作</th>
            </tr>
            </thead>
            <tbody id="member-list-body">
            <tr class="text-c">
                <td>wlrllr</td>
                <td>张三</td>
                <td>男</td>
                <td>13000000000</td>
                <td>admin@mail.com</td>
                <td class="text-l">北京市 海淀区</td>
                <td>2014-6-11 11:11:42</td>
                <td class="td-manage">
                    <a title="编辑" href="javascript:layer_show('编辑','/member/update/','','510');"
                       class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="crm/comm/_footer :: footer"/>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $(function () {
        var dataTable = $('.table-sort').dataTable({
            language:lang,
            "processing": true,
            "serverSide": true,
            "searching": false,
            "ajax": function (data, callback,setting) {  //ajax方式向后台发送请求
                var param = {};
                param.pageSize = data.length;//页面显示记录条数，在页面显示每页显示多少项的时候
                param.pageNum = (data.start / data.length) + 1;//当前页码
                param._csrf = $('#tokenValue').val();
                param.search = $('#searchContent').val();
                param.dateMin = $('#dateMin').val();
                param.dateMax = $('#dateMax').val();
                $.ajax({
                    "type": "POST",
                    "url": "/member/list",
                    "data": param,
                    "dataType": "json",
                    success: function (res) {
                        var returnData = {};
                        returnData.draw = res.draw;//这里直接自行返回了draw计数器,应该由后台返回
                        returnData.iTotalRecords = res.totalElements;//返回数据全部记录
                        returnData.iTotalDisplayRecords = res.totalElements;//后台不实现过滤功能，每次查询均视作全部结果
                        returnData.aaData = res.content;//返回的数据列表
                        callback(returnData)
                    }
                })

            },
            "columns": [//对接收到的json格式数据进行处理，data为json中对应的key
                {"data": "parentName"},
                {"data": "name"},
                {"data": null},
                {"data": "phone"},
                {"data": "idCard"},
                {"data": "address"},
                {"data": "createTime"},
                {"data": null}
            ],
            "columnDefs": [{
                targets: 2,
                render: function (data, type, row, meta) {
                   if(row.sex == 'G'){
                       return "女";
                   }else if(row.sex == 'B'){
                       return "男";
                   }else{
                       return "保密";
                   }
                }
            }, {
                targets: 7,
                render: function (data, type, row, meta) {
                    return '<a title="编辑" href="javascript:layer_show(\'编辑\',\'/member/edit/' + row.memberId + '\',\'\',\'490\');" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>';
                }
            }]
        });
        dataTable.api();
        $('#searchBtn').on('click', function () {
            dataTable.fnDraw(true);
        });
    });

    //FIXME 监听layer关闭，然后刷新该页面
</script>
</body>
</html>