<!DOCTYPE HTML>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>我的桌面</title>
    <p th:replace="crm/comm/_meta :: meta"/>
</head>
<body th:fragment="welcome">
<div class="page-container">
    <p class="f-20 text-success">欢迎进入后台！</p>
    <p>登录次数：18 </p>
    <p>上次登录IP：222.35.131.79.1 上次登录时间：2014-6-14 11:19:55</p>
    <p class="f-20 text-success">我的積分：20000</p>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th colspan="3" scope="col">我邀請的會員</th>
        </tr>
        <tr class="text-c">
            <th>昵稱</th>
            <th>姓名</th>
            <th>入會時間</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c">
            <td>zs</td>
            <td>張三</td>
            <td>2017-2-3</td>
        </tr>
        <tr class="text-c">
            <td>zs</td>
            <td>張三</td>
            <td>2017-2-3</td>
        </tr>
        <tr class="text-c">
            <td>zs</td>
            <td>張三</td>
            <td>2017-2-3</td>
        </tr>
        </tbody>
    </table>

</div>
<footer class="footer mt-20">
    <div class="container">
        <p>这里些系统部分说明</p>
    </div>
</footer>
</body>
</html>